@model IEnumerable<TodoTask>

<div class="container-fluid">
    <div class="row">
        <!-- Панель справа -->
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                <a class="nav-link" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="false">Task List</a>
                <a class="nav-link" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="false">About</a>
            </div>
        </div>

        <!-- Основное содержимое -->
        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Домашняя страница -->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h2>Todo List</h2>
                </div>
                <!-- Инпут -->
                <div class="col-md-8 w-100 text-end">
                    <div class="mb-3 mt-5">
                        <a asp-controller="TodoTask" asp-action="Create" class="btn btn-outline-secondary">Add Task</a>
                    </div>
                </div>
                <br/>
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach(var task in Model)
                    {
                        <tr>
                            <td width="20%">
                                @task.Id
                            </td>
                            <td width="50%">
                                @task.Name
                            </td>
                            <td>
                                <form asp-controller="TodoTask" asp-action="Delete" method="post" class="inline">
                                    <input type="hidden" name="id" value="@task.Id"/>
                                    <div class="w-100 btn-group" role="group">
                                        <button type="submit" class="btn btn-success mx-1">
                                            <i class="bi bi-check-circle-fill"></i>
                                        </button>
                                        <button type="submit" class="btn btn-danger mx-1">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>