@model IEnumerable<TodoTask>

<div class="row pb-3">
    @foreach(var task in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary">@task.Name</p>
                                <p class="card-title text-info">by <b>@task.Description</b></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="" class="btn btn-primary form-control" asp-route-id="@task.Id">
                            Details
                        </a>
                    </div>
                </div> 
            </div>
        </div>
    }
</div>